In [1]:
# datetime playground

In [4]:
import pandas as pd
df = pd.read_csv(
    r'.\01_Dane\ceny_produktow_cleaned.csv',  # sciezka do pliku z danymi
    sep=';',  # separator uzywany do wydzielenia kolumn
)

In [6]:
df['date_dt'] = pd.to_datetime(df['date'])

In [7]:
df['date_dt']

0       2013-03-01
1       2018-02-01
2       2019-12-01
3       2019-02-01
4       2002-03-01
           ...
95825   1999-10-01
95826   2015-09-01
95827   2004-08-01
95828   2016-11-01
95829   2000-11-01
Name: date_dt, Length: 95830, dtype: datetime64[ns]

In [56]:
minus_7_days = pd.Timedelta(weeks=-700)
minus_7_days

Timedelta('-4900 days +00:00:00')

In [10]:
df['date_dt'] + minus_7_days

0       2013-02-22
1       2018-01-25
2       2019-11-24
3       2019-01-25
4       2002-02-22
           ...
95825   1999-09-24
95826   2015-08-25
95827   2004-07-25
95828   2016-10-25
95829   2000-10-25
Name: date_dt, Length: 95830, dtype: datetime64[ns]

In [17]:
# pd.to_datetime('2023.25.10') # uwaga blad

In [20]:
pd.to_datetime('2023.25.10', format='%Y.%d.%m')

Timestamp('2023-10-25 00:00:00')

In [21]:
pd.to_datetime('2023.25.10', errors='ignore') # uwaga blad (zwraca to co dostal)

'2023.25.10'

In [22]:
pd.to_datetime('2023.25.10', errors='coerce') # uwaga blad -> zamieniony na Not a Time (NULL w sQL)

NaT

In [34]:
moja_data = pd.to_datetime('2023.01.10', format='%Y.%d.%m')

In [35]:
moja_data.year
moja_data.quarter
moja_data.second
moja_data.hour
moja_data.minute
moja_data.month
moja_data.day

1

In [36]:
moja_data.is_quarter_start

True

In [38]:
df['date'].str.lower()

0         2013-3
1         2018-2
2        2019-12
3         2019-2
4         2002-3
          ...
95825    1999-10
95826     2015-9
95827     2004-8
95828    2016-11
95829    2000-11
Name: date, Length: 95830, dtype: object

In [39]:
df['date_dt'].dt.year

0        2013
1        2018
2        2019
3        2019
4        2002
         ...
95825    1999
95826    2015
95827    2004
95828    2016
95829    2000
Name: date_dt, Length: 95830, dtype: int64

In [46]:
df['date_dt'].dt.strftime('%Y-01-%m')
df['date_dt'].dt.strftime('%Y-%m-01')

0        2013-03-01
1        2018-02-01
2        2019-12-01
3        2019-02-01
4        2002-03-01
            ...
95825    1999-10-01
95826    2015-09-01
95827    2004-08-01
95828    2016-11-01
95829    2000-11-01
Name: date_dt, Length: 95830, dtype: object

In [57]:
df['date_dt_minus_7'] = df['date_dt'] + minus_7_days

In [64]:
df['date_dt'].dt.year - df['date_dt_minus_7'].dt.year

0        14
1        14
2        13
3        14
4        14
         ..
95825    13
95826    13
95827    13
95828    13
95829    13
Length: 95830, dtype: int64

In [59]:
import numpy as np

In [61]:
(df['date_dt'] - df['date_dt_minus_7'])

0       4900 days
1       4900 days
2       4900 days
3       4900 days
4       4900 days
           ...
95825   4900 days
95826   4900 days
95827   4900 days
95828   4900 days
95829   4900 days
Length: 95830, dtype: timedelta64[ns]