In [39]:
# Dzień 5 - Pandas - Filtrowanie - Selekcja danych do analizy

import pandas as pd
df = pd.read_csv(
  r'C:\Users\damia\Desktop\coderslab - Data scientist\3. Pandas\Zjazd_3_-_pliki_do_zadań\Zjazd 3 - pliki do zadań\01_Dane\ceny_produktow_renamed.csv',
  sep=';',
  encoding='UTF-8',
  decimal='.'
)
df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3

In [29]:
# 1. Jaka była średnia cena mieszanki marchwi i groszku za 1 kg w Polsce w 2015 roku?

df = df.query("product_types == 'mieszanka mrożona marchew i groszek - za 1kg' ")
df.describe()

       product_group_id        value
count            4284.0  4284.000000
mean                1.0     0.523353
std                 0.0     0.348874
min                 1.0     0.000000
25%                 1.0     0.000000
50%                 1.0     0.645783
75%                 1.0     0.787952
max                 1.0     1.221687

In [45]:
round(df.loc[(df["product_types"] == 'mieszanka mrożona marchew i groszek - za 1kg') & (df['date'] >= '2015-0') & 
       (df['date'] <= '2016-0'), 'value'].mean(), 2)

0.47

In [46]:
# 2. Jaka była średnia cena soku jabłkowego w latach 2016-2018 w województwie mazowieckim?

round(df.loc[(df["product_types"] == 'sok jabłkowy w opakowaniu kartonowym - za 1l') & 
       (df['province'] == 'MAZOWIECKIE') & (df['date'] >= '2016-0') & (df['date'] <= '2018-0'), 'value'].mean(), 2)

nan

In [37]:
# 3. Ile wynosiła średnia cena koncentratu pomidorowego w województwie dolnośląskim w latach 2003-2015? 
# Czy wydaje Ci się ona racjonalna?

round(df.loc[(df["product_types"] == 'koncentrat pomidorowy 30% - za 1kg') & (df['province'] == 'DOLNOŚLĄSKIE') & (df['date'] >= '2003-01-01') & 
       (df['date'] <= '2015-12-31'), 'value'].mean(), 2)

20.49

In [47]:
#Na zajęciach
# 1. Jaka była średnia cena mieszanki marchwi i groszku za 1 kg w Polsce w 2015 roku?

w0 = df['product_types'] == 'mieszanka mrożona marchew i groszek - za 1kg'
w4 = df['province'] == 'POLSKA'
w1 = df['date'] > '2015-0'
w2 = df['date'] < '2016-0'

df_marchew_2015 = df.loc[w0 & w4 & w1 & w2]
df_marchew_2015['date'].unique()
df_marchew_2015['product_types'].unique()
df_marchew_2015['province'].unique()

df_marchew_2015['value'].describe()

count    12.000000
mean      0.829116
std       0.035257
min       0.766265
25%       0.803012
50%       0.832530
75%       0.847590
max       0.884337
Name: value, dtype: float64

In [48]:
# 2. Jaka była średnia cena soku jabłkowego w latach 2016-2018 w województwie mazowieckim?

w0 = df['product_types'] == 'sok jabłkowy, w opakowaniu kartonowym - za 1l'
w1 = df['date'] > '2016-0'
w2 = df['date'] < '2019'
w3 = df['province'].str.lower() == 'mazowieckie'
df_sok = df.loc[w0]
df_sok = df_sok.loc[w1 & w2 & w3]
round(df_sok['value'].describe()['mean'], 2)

2.92

In [49]:
# 3. Ile wynosiła średnia cena koncentratu pomidorowego w województwie dolnośląskim w latach 2003-2015? 
# Czy wydaje Ci się ona racjonalna?

w0 = df['product_types'] == 'koncentrat pomidorowy 30% - za 1kg'
w1 = df['date'] > '2003-0'
w2 = df['date'] < '2016'
w3 = df['province'].str.lower() == 'dolnośląskie'
df_pomidor = df.loc[w0]
df_pomidor = df_pomidor.loc[w1 & w2 & w3]
round(df_pomidor['value'].describe()['mean'], 2)

19.44