In [1]:
# Dzień 5 Pandas - Obróbka danych - Część 1 - Duplikaty

import pandas as pd
df = pd.read_csv(
  r'C:\Users\damia\Desktop\coderslab - Data scientist\3. Pandas\Zjazd_3_-_pliki_do_zadań\Zjazd 3 - pliki do zadań\01_Dane\ceny_produktow_renamed.csv',
  sep=';',
  encoding='UTF-8',
  decimal='.'
)
df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3

In [3]:
df.drop_duplicates()

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3
...,...,...,...,...,...,...,...
149933,ŚLĄSKIE,NaN,zł,2,boczek wędzony z żeberkami - za 1kg,15.95,2015-9
149934,ŚLĄSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,4.50,2004-8
149935,KUJAWSKO-POMORSKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,12.15,2016-11
149936,ŁÓDZKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2012-5
149938,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,11.87,2000-11

In [4]:
# 1. sprawdź, ile wierszy jest zduplikowanych.
is_duplicated = df.duplicated() # generujemy Series
df.loc[is_duplicated]

,province,product_types,currency,product_group_id,product_line,value,date
545,ŚLĄSKIE,NaN,zł,4,chleb - za 1kg,NaN,2013-8
1913,LUBUSKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.00,2007-10
2356,POLSKA,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,1.39,2001-2
2528,WARMIŃSKO-MAZURSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.93,2015-9
2662,ŚWIĘTOKRZYSKIE,NaN,zł,4,"mąka pszenna Poznańska, workowana - za 1kg",0.59,2001-6
...,...,...,...,...,...,...,...
149925,WIELKOPOLSKIE,NaN,zł,4,kasza gryczana prażona cała - za 1kg,0.00,2008-12
149926,POLSKA,NaN,zł,4,kasza gryczana prażona cała - za 1kg,5.10,2016-5
149930,WARMIŃSKO-MAZURSKIE,NaN,zł,4,"mąka pszenna Poznańska, workowana - za 1kg",0.99,2010-10
149937,MAŁOPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.05,2008-6
149939,MAZOWIECKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.16,2005-10

In [5]:
# lub
df.loc[df.duplicated()]

,province,product_types,currency,product_group_id,product_line,value,date
545,ŚLĄSKIE,NaN,zł,4,chleb - za 1kg,NaN,2013-8
1913,LUBUSKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.00,2007-10
2356,POLSKA,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,1.39,2001-2
2528,WARMIŃSKO-MAZURSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.93,2015-9
2662,ŚWIĘTOKRZYSKIE,NaN,zł,4,"mąka pszenna Poznańska, workowana - za 1kg",0.59,2001-6
...,...,...,...,...,...,...,...
149925,WIELKOPOLSKIE,NaN,zł,4,kasza gryczana prażona cała - za 1kg,0.00,2008-12
149926,POLSKA,NaN,zł,4,kasza gryczana prażona cała - za 1kg,5.10,2016-5
149930,WARMIŃSKO-MAZURSKIE,NaN,zł,4,"mąka pszenna Poznańska, workowana - za 1kg",0.99,2010-10
149937,MAŁOPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.05,2008-6
149939,MAZOWIECKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.16,2005-10