In [3]:
# Dzień 5 - Pandas - Obróbka danych - część 1 - Modyfikacja nazw kolumn

import pandas as pd
df = pd.read_csv(
  r'C:\Users\damia\Desktop\coderslab - Data scientist\3. Pandas\Zjazd_3_-_pliki_do_zadań\Zjazd 3 - pliki do zadań\01_Dane\ceny_produktow.csv',
  sep=';',
  encoding='UTF-8',
  decimal='.'
)
df.head()

,Nazwa,Rodzaje towarów,Jednostka miary,ID grupy,Rodzaje produktów,Wartosc,Data
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3

In [4]:
# rename
df.rename(columns = {
    'Nazwa': 'province',
    'Rodzaje towarów': 'product_types',
    'Jednostka miary': 'currency',
    'ID grupy': 'id',
    'Rodzaje produktów': 'product_line',
    'Wartosc': 'value',
    'Data': 'date'
})

,province,product_types,currency,id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3
...,...,...,...,...,...,...,...
149935,KUJAWSKO-POMORSKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,12.15,2016-11
149936,ŁÓDZKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2012-5
149937,MAŁOPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.05,2008-6
149938,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,11.87,2000-11
149939,MAZOWIECKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.16,2005-10

In [5]:
# columns

df3 = df.copy()
df3.columns=('province', 'product_types','currency', 'id', 'product_line', 'value', 'date')
df3

,province,product_types,currency,id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3
...,...,...,...,...,...,...,...
149935,KUJAWSKO-POMORSKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,12.15,2016-11
149936,ŁÓDZKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2012-5
149937,MAŁOPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.05,2008-6
149938,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,11.87,2000-11
149939,MAZOWIECKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.16,2005-10

In [6]:
# alternatywa

cols_dict = {
    'Nazwa': 'province',
    'Rodzaje towarów': 'product_types',
    'Jednostka miary': 'currency',
    'ID grupy': 'id',
    'Rodzaje produktów': 'product_line',
    'Wartosc': 'value',
    'Data': 'date'
}

df_renamed = df.rename(columns=cols_dict)
df_renamed

cols = list(cols_dict.values())
cols

df_renamed_2 = df.copy()
df_renamed_2.columns = cols
df_renamed_2

,province,product_types,currency,id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3
...,...,...,...,...,...,...,...
149935,KUJAWSKO-POMORSKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,12.15,2016-11
149936,ŁÓDZKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2012-5
149937,MAŁOPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.05,2008-6
149938,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,11.87,2000-11
149939,MAZOWIECKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.16,2005-10